chromadb==0.5.3
cohere==5.5.8
colbert-ai==0.2.19
datasets==2.20.0
faiss-cpu==1.8.0.post1
Flask==3.0.2
Flask-Cors==4.0.0
Flask-Limiter==3.7.0
Flask-Mail==0.10.0
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
flask-talisman==1.1.0
funcy==2.0
future==0.18.2
gunicorn==22.0.0
lancedb==0.9.0
langchain==0.2.10
langchain-cohere==0.1.9
langchain-community==0.2.9
langchain-core==0.2.22
langchain-experimental==0.0.62
langchain-openai==0.1.15
langchain-text-splitters==0.2.2
langchainhub==0.1.20
langdetect==1.0.9
numpy==1.26.4
openai==1.35.10
pandas==2.2.1
ptvsd==4.3.2
pypdf==4.1.0
PyPDF2==3.0.1
ragas==0.1.8
sentence-transformers==2.7.0
sentencepiece==0.2.0
statsd==4.0.1
tiktoken==0.7.0
tqdm==4.66.4
