.chat_tag {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(241, 240, 245, 0.329) 4%, rgb(200, 220, 235) 35%, rgba(241, 240, 245, 0.329) 100%);
}

.chatbox {
    background: linear-gradient(180deg, rgb(241, 240, 245) 4%, rgb(254, 254, 255) 35%, rgb(241, 240, 245) 100%);
}